* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*:focus {
  outline: 0; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 500px; }

header {
  background-color: grey;
  height: 100vh; }

.block-1 {
  width: calc(1 * (100% / 12)); }

.block-2 {
  width: calc(2 * (100% / 12)); }

.block-3 {
  width: calc(3 * (100% / 12)); }

.block-4 {
  width: calc(4 * (100% / 12)); }

.block-5 {
  width: calc(5 * (100% / 12)); }

.block-6 {
  width: calc(6 * (100% / 12)); }

.block-7 {
  width: calc(7 * (100% / 12)); }

.block-8 {
  width: calc(8 * (100% / 12)); }

.block-9 {
  width: calc(9 * (100% / 12)); }

.block-10 {
  width: calc(10 * (100% / 12)); }

.block-11 {
  width: calc(11 * (100% / 12)); }

.block-12 {
  width: calc(12 * (100% / 12)); }

main {
  background: #212121; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.align-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-s {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.align-e {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.align-b {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.nowrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }

.wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.justify-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-spb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-spa {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.justify-l {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left; }

.justify-r {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right; }

.justify-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.justify-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.justify-ev {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }

.justify-str {
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch; }

.justify-safe {
  -webkit-box-pack: safe;
      -ms-flex-pack: safe;
          justify-content: safe; }

.justify-unsafe {
  -webkit-box-pack: unsafe;
      -ms-flex-pack: unsafe;
          justify-content: unsafe; }

.container {
  margin: 0 auto;
  width: 1024px;
  min-height: 500px; }

.container-full {
  width: 100%; }

.header-vertical {
  width: calc(2 * (100% / 12)); }

@media (max-width: 800px) {
  .blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .block {
    width: 100%; } }
