.blocks {
  @include flex(row wrap, space-between);
  min-height: 500px
}

.block { height: 500px }

.block-1 {
  background: black
}

.block-2 {
  background: brown
}

.block-3 {
  background: blue
}

.block-4 {
  background: yellow
}

.block-5 {
  background-color: pink
}

.block-6 {
  background-color: aqua
}

.block-7 {
  background-color: palegreen
}

@for $i from 1 through 12 {
  .block-#{$i} {
    width: calc(#{$i} * (100% / 12))
  }
}

main {
  @include main(1024px);
  background: $black
}
