.blocks {
  @include flex(row wrap, space-between);
  min-height: 500px
}

header {
  background-color: grey;
  height: 100vh
}

@for $i from 1 through 12 {
  .block-#{$i} {
    width: calc(#{$i} * (100% / 12))
  }
}

main {
  background: $black
}

.flex { display: flex }

.align-c { align-items: center }
.align-s { align-items: flex-start }
.align-e { align-items: flex-end }
.align-b { align-items: baseline }

.nowrap { flex-flow: row nowrap }
.wrap { flex-flow: row wrap }
.column { flex-direction: column }

.justify-c { justify-content: center }
.justify-spb { justify-content: space-between }
.justify-spa { justify-content: space-around }
.justify-l { justify-content: left }
.justify-r { justify-content: right }
.justify-fs { justify-content: flex-start }
.justify-fe { justify-content: flex-end }
.justify-ev { justify-content: space-evenly }
.justify-str { justify-content: stretch }
.justify-safe { justify-content: safe }
.justify-unsafe { justify-content: unsafe }
