body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  color: black;
}

h2 {
  font-size: 25px;
  text-decoration: underline;
  margin-bottom: 30px;
}

p {
  margin-bottom: 30px;
}