@mixin flex($flex: row nowrap, $justify: space-between, $align: center) {
  display: flex;
  flex-flow: $flex;
  justify-content: $justify;
  align-items: $align
}
  
@mixin apply-color($colors) {
  @each $key, $color  in $colors {
    .block-#{$key} {
      background-color: $color
    }
  }
}

@mixin main($width) {
  margin: 0 auto;
  width: $width;
  min-height: 500px
}

@mixin rainbow($rgb) {
  @for $i from 1 through 12 {
    .block-#{$i} {
      background-color: rgb(0,0,$rgb)
    }
  
    $rgb: $rgb + 10
  }
}

@mixin grid($temp) {
  display: grid;
  grid-template-columns: $temp
}

@mixin columns($num) {
  width: calc(#{$num} * (100% / 12))
}
