// Breakpoints
$desk-1920: 1920px;
$desk-1680: 1680px;
$desk-1600: 1600px;
$desk-1440: 1440px;
$desk-1366: 1366px;
$desk-1024: 1024px;

$tab-800: 800px;
$tab-768: 768px;
$tab-600: 600px;

$mob-414: 414px;
$mob-384: 384px;
$mob-375: 375px;
$mob-360: 360px;
$mob-320: 320px;

// Colors
$black: #212121;
$white: #fefefe;

$twitter: #1da1f2;
$facebook: #4267B2;
$youtube: #FF0000;
$snap: #F1EF00;
$teal: #007373;
$blueGrey: #607D8B;
$orange: #FF6E40;

// Buttons
$success: #8BDBC8;
